@media all and (min-width: 600px) {
  .question-add-dev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    margin: 30px auto;
  }

  .question-add-dev {
    font-size: 36px;
    margin: 40px;
    color: #3f3d56;
    text-align: center;
  }
}

@media all and (max-width: 600px) {
  .question-add-dev-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    margin: 30px auto;
  }

  .question-add-dev {
    font-size: 1.2rem;
    margin: 10%;
    color: #3f3d56;
    text-align: center;
  }
}
