.individual-dev-profile-link {
  text-decoration: none;
  width: 50px;
}

.individual-dev {
  display: flex;
  align-items: center;
  justify-content: center;
}

.individual-dev img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.developer-avatar-name {
  color: #a48d63;
  font-size: 2rem;
  margin-left: 10%;
  margin-right: 5%;
}

.developer-avatar-arrow {
  color: #006af9;
  font-size: 24px;
}

@media (max-width: 600px) {
  .developer-avatar-name {
    color: #a48d63;
    font-size: 1rem;
    margin-left: 10%;
    margin-right: 5%;
  }

  .individual-dev img {
    width: 35%;
    height: 74%;
    border-radius: 50%;
  }
}
