* {
  margin: 0;
}
/* stylelint-disable indentation */
.homepage-header-header {
  width: 100%;
  background-color: #2f2e41;
  height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;

  /* justify-content: center; */
}
/* stylelint-disable-next-line rule-empty-line-before */
.homepage-header-main-heading {
  display: inline;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 72px;
  color: #fff;
  font-family: 'Nunito Sans', sans-serif;
}

.homepage-header-main-img {
  height: auto;
  width: 40%;
  margin-right: 5%;
}
/* stylelint-disable-next-line at-rule-empty-line-before */
@media screen and (max-width: 850px) {
  .homepage-header-header {
      width: 100%;
      background-color: #2f2e41;
      height: auto;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      padding: 40px 0;
  }
  /* stylelint-disable-next-line rule-empty-line-before */
  .homepage-header-main-heading {
      font-size: 25px;
      text-align: center;
      padding-top: 20px;
  }

  .homepage-header-main-img {
      padding: auto;
      height: 300px;
      width: 300px;
  }
/* stylelint-disable-next-line no-missing-end-of-source-newline */
}