.dev-profile-header {
  height: 5rem;
  background-color: #2f2e41;
  color: #fff;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dev-profile-header-item {
  margin: 0 30px;
}

.all-developers-home {
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.all-developers-home:hover {
  color: aqua;
}

.dev-info-container {
  background-color: #e5e5e5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 10vw 50px 10vw;
}

.dev-info-profile-avatar img {
  border-radius: 50%;
}

.developer-basic-info {
  margin: 50px;
}

.developer-name {
  font-weight: 600;
  font-size: 40px;
  margin: 30px 10px;
}

.developer-bio {
  font-size: 24px;
  margin: 30px 10px;
}

.dev-profile-links {
  margin: 30px 10px;
}

.dev-profile-links a {
  text-decoration: none;
  margin-right: 20px;
}

.blog-link {
  cursor: pointer;
}

.blog-link a {
  text-decoration: none;
  color: #0768fa;
}

.developer-other-info {
  margin: 30px 10px;
  font-size: 16px;
}

.align-info-sec {
  display: flex;
  /* align-items: center; */
}

.loc-icon {
  margin-right: 10px;
}

.loc-info {
  margin: 1px 8px 0 0;
  color: black;
}

.devprofile-repo-section {
  background-color: #fff;
}

.github-repo-heading {
  color: #3f3d56;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  margin: 50px 0;
}

.hrule-r {
  background-color: #d0cde1;
  border: 0;
  height: 2px;
  margin: 0 7vw;
}

.repo {
  margin: 30px 7vw;
}

.dev-repo-name {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 30px;
}

.dev-repo-name a {
  text-decoration: none;
  color: #0768fa;
}

.dev-repo-updated-at {
  font-size: 22px;
  line-height: 33px;
  color: #b2b1bb;
  margin-left: 30px;
}

.dev-repo-description {
  color: #3f3d56;
  font-size: 25px;
  line-height: 40px;
}

.no-repos-found {
  color: #3f3d56;
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  line-height: 50px;
  margin: 50px 0;
}

@media (max-width: 600px) {
  .dev-profile-header {
    height: 3rem;
    background-color: #2f2e41;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .dev-info-container {
    background-color: #e5e5e5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 10vw 50px 10vw;
  }

  .dev-info-profile-avatar img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .developer-basic-info {
    margin: 10px;
  }

  .developer-name {
    font-weight: 600;
    font-size: 21px;
    margin-left: 10%;
    margin-bottom: 2%;
  }

  .developer-bio {
    font-size: 15px;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  .dev-profile-links {
    margin-top: 5%;
    margin-left: 10%;
    /* margin-right: 3%; */
    margin-bottom: 1%;
  }

  .dev-profile-links a {
    text-decoration: none;
    margin-right: 10px;
  }

  .blog-link {
    cursor: pointer;
  }

  .blog-link a {
    text-decoration: none;
    color: #0768fa;
  }

  .loc-info {
    margin: 0px;
    color: black;
  }

  .align-info-sec {
    display: flex;
  }

  .developer-other-info {
    margin: 2%;
    font-size: 10px;
  }

  .loc-icon {
    font-size: 15px;
    margin-left: 4%;
    margin-right: 3%;
    margin-bottom: 5%;
  }

  .devprofile-repo-section {
    background-color: #fff;
  }

  .github-repo-heading {
    color: #3f3d56;
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 2%;
  }

  .hrule-r {
    background-color: #d0cde1;
    border: 0;
    height: 2px;
    margin: 0 7vw;
  }

  .repo {
    margin: 30px 7vw;
  }

  .dev-repo-name {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }

  .dev-repo-name a {
    text-decoration: none;
    color: #0768fa;
    font-size: 20px;
  }

  .dev-repo-updated-at {
    font-size: 20px;
    line-height: 20px;
    color: #b2b1bb;
    margin: 5%;
  }

  .dev-repo-description {
    color: #3f3d56;
    font-size: 20px;
    line-height: 30px;
  }

  .no-repos-found {
    color: #3f3d56;
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    line-height: 50px;
    margin: 50px 0;
  }

  .dev-profile-header-item {
    margin: 0 30px;
  }
}
